{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-4">

            <div class="profile-card">

                <img  src="{{ url_for(
                    'static',
                    filename='uploads/profiles/' +
                    session.get(
                    'profile_image',
                    'default.png'
                    )
                    ) }}"
                    class="profile-image">

                <h3>
                    {{ session.get('user_name',
                    'Student') }}
                </h3>

                <p>
                    {{ session.get('user_email',
                    'student@example.com') }}
                </p>

            </div>

        </div>

        <div class="col-md-8">

            <div class="card shadow border-0">

                <div class="card-body">

                    <h3 class="mb-4">
                        Update Profile
                    </h3>

                    <form method="POST"
      enctype="multipart/form-data">

                        <div class="mb-3">

                            <label>
                                Name
                            </label>

                            <input
                                type="text"
                                name="name"
                                class="form-control"
                                value="{{ session.get(
                                'user_name','') }}">

                        </div>

                        <div class="mb-3">

                            <label>
                                Email
                            </label>

                            <input
                                type="email"
                                name="email"
                                class="form-control"
                                value="{{ session.get(
                                'user_email','') }}">

                        </div>
                        <div class="mb-3">

    <label class="form-label">
        Profile Picture
    </label>

    <input
        type="file"
        name="profile_image"
        class="form-control">

</div>

                        <button
                            class="btn btn-primary">

                            Save Changes

                        </button>

                    </form>

                </div>

            </div>

            <div class="row mt-4">

                <div class="col-md-6">

                    <div class="dashboard-card">

                        <h2>
                            {{ total_courses }}
                        </h2>

                        <p>
                            Total Courses
                        </p>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="dashboard-card">

                        <h2>
                            {{ completed_courses }}
                        </h2>

                        <p>
                            Completed Courses
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}