.dark-mode{
    background:#121212 !important;
    color:#ffffff !important;
}

.dark-mode .card{
    background:#1f1f1f;
    color:white;
}

.dark-mode .navbar{
    background:#000 !important;
}

.dark-mode .table{
    color:white;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select{
    background:#2d2d2d;
    color:white;
    border:1px solid #444;
}

.dark-mode .modal-content{
    background:#1f1f1f;
}