{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-4">

        <h2>Manage Courses</h2>

        <a href="{{ url_for('admin.add_course') }}"
           class="btn btn-success">

            Add Course

        </a>

    </div>

    <table class="table table-bordered">

        <thead>

        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>

        </thead>

        <tbody>

        {% for course in courses %}
        <img src="{{ url_for('static', filename='uploads/courses/' + (course.image or 'default-course.jpg')) }}"
     width="80"
     height="60">

        <tr>

            <td>{{ course.course_id }}</td>
            <td>{{ course.course_name }}</td>
          <td>

    <a href="{{ url_for(
    'admin.edit_course',
    course_id=course.course_id) }}"
       class="btn btn-warning btn-sm">

        Edit

    </a>

     <form action="{{ url_for('admin.delete_course', course_id=course['course_id']) }}" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger btn-sm">
        Delete
    </button>
     </form>
</td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}