<!DOCTYPE html>

<html>

<body>

<h2>
    Interview Scheduled
</h2>

<p>
    Hello {{ candidate.name }},
</p>

<p>
    Congratulations! Your interview has been scheduled.
</p>

<p>

<strong>Job:</strong>
{{ job.title }}

</p>

<p>

<strong>Date:</strong>
{{ interview.interview_date }}

</p>

<p>

<strong>Time:</strong>
{{ interview.interview_time }}

</p>

<p>

<strong>Mode:</strong>
{{ interview.mode }}

</p>

<p>
    Best of luck for your interview.
</p>

</body>
</html>
