{% extends 'base.html' %}

{% block title %}
Verify OTP
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-5">

<div class="card shadow">

<div class="card-body">

<h2 class="text-center">
Verify OTP
</h2>

<form method="POST">

<div class="mb-3">

<label>
Enter OTP
</label>

<input type="text"
    name="otp"
    class="form-control">

</div>

<button class="btn btn-success w-100">

Verify

</button>

</form>

</div>

</div>

</div>

</div>

{% endblock %}
