{% extends 'base.html' %}

{% block title %}
Job Details
{% endblock %}

{% block content %}

<div class="card shadow">


<div class="card-body">

    <h2>
        {{ job.title }}
    </h2>

    <h5>
        {{ job.company_name }}
    </h5>

    <hr>

    <p>
        <strong>Location:</strong>
        {{ job.location }}
    </p>

    <p>
        <strong>Salary:</strong>
        {{ job.salary }}
    </p>

    <p>
        <strong>Experience:</strong>
        {{ job.experience }}
    </p>

    <p>
        <strong>Skills:</strong>
        {{ job.skills }}
    </p>

    <p>
        <strong>Description:</strong>
        {{ job.description }}
    </p>

    {% if current_user.is_authenticated
    and current_user.role == 'candidate' %}

   <form action="{{ url_for('jobs.apply_job',
job_id=job.id) }}"
method="POST"
enctype="multipart/form-data">

    <div class="mb-3">

        <input type="file"
               name="resume"
               class="form-control">

    </div>

    <button class="btn btn-success">

        Apply Now

    </button>

</form>

<br>

<a href="{{ url_for('jobs.save_job',
job_id=job.id) }}"
class="btn btn-warning">

Save Job

</a>
    {% endif %}

</div>


</div>

{% endblock %}
