<!DOCTYPE html>
<html>

<head>

    <title>Hotel Analytics</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/landing.css') }}">



</head>

<body class="landing-body">

<div class="landing-page">

    <div class="overlay"></div>

    <div class="glass-box">


    <span class="welcome-text">WELCOME</span>

    <h1>
        Hotel Booking<br>
        Analytics Dashboard
    </h1>

    <p>
        Discover booking trends, guest insights, revenue patterns,
        and interactive statistical visualizations all in one place.
    </p>

    <a href="{{ url_for('dashboard') }}" class="enter-btn">
        Explore Dashboard →
    </a>



    </div>

</div>

</body>

</html>