{% extends 'base.html' %}

{% block title %}
Interviews
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Scheduled Interviews
</h2>

<div class="card shadow">


<div class="card-body">

    <table class="table table-striped">

        <thead>

            <tr>

                <th>Job</th>
                <th>Date</th>
                <th>Time</th>
                <th>Mode</th>
                <th>Status</th>

            </tr>

        </thead>

        <tbody>

            {% for interview in interviews %}

            <tr>

                <td>
                    {{ interview.job_title }}
                </td>

                <td>
                    {{ interview.interview_date }}
                </td>

                <td>
                    {{ interview.interview_time }}
                </td>

                <td>
                    {{ interview.mode }}
                </td>

                <td>

                    <span class="badge bg-success">

                        {{ interview.status }}

                    </span>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>


</div>

{% endblock %}
