{% extends 'base.html' %}

{% block title %}
Notifications
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">
        🔔 Notifications
    </h2>

    {% if notifications %}

        {% for notification in notifications %}

        <div class="card shadow-sm mb-3">

            <div class="card-body">

                <h5>
                    {{ notification.message }}
                </h5>

                <small class="text-muted">
                    {{ notification.created_at }}
                </small>

            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="alert alert-info">

            No notifications available.

        </div>

    {% endif %}

</div>

{% endblock %}